body {
  margin: 0;
  padding: 0%;
  background-color: rgba(215, 211, 211, 0.862);
}
main {
  padding-top: 5%;
}
h1 {
  font-size: 56px;
  line-height: 1.15;
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 1.5em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
img {
  width: 80%;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 2%;
}
.news {
  text-align: center;
  margin-top: 5%;
  border: 1px solid white;
  display: flex wrap;
}
.nnews {
  border: 1px solid white;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.buttons {
  margin-left: 30%;
  margin-right: auto;
}
.buttons input {
  background-color: aliceblue;
  border: none;
  width: 10%;
  height: 30px;
  /* justify-items: auto; */
}
